<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework Upload</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <form class="logout-link" action="{% url 'masteraccounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">logout !</button>
                </form>
            </li>
        </ul>
    </nav>
    <h2>upload homework</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Upload homework</button>
    </form>

</body>
</html>