<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movie list</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <form class="logout-link" action="{% url 'masteraccounts:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">logout !</button>
                </form>
            </li>
        </ul>
    </nav>
    <h2>movies</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Download</th>
        </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.title }}</td>
                <td>{{ movie.date }}</td>
                <td>
                    <a href="{{ movie.movie_file.url }}" class="btn btn-primary btn-sm">
                        Download movie
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>